@media only screen and (max-width : 1390px){

.tab3{
    width: 250px;
  font-size: 1px;
font-weight: 50;
   right: 3%;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(221, 220, 220),rgb(224, 224, 224));
    
}
p{
    padding-top: 20%;
}
    h2{
      font: optional;
      font-size: 25px;
    }


}